{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <form action="" method="post">
        <div class="row">
            {% for item in shopItems %}
                <div class="col-sm-4">
                    <div class="card mb-4 {{ item.type == 1 ? 'text-bg-warning' : item.type == 2 ? 'text-bg-success' : item.type == 3 ? 'text-bg-danger' : '' }}" data-id="{{ item.id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.type }}</p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <button type="submit" name="id" value="{{ item.id }}" class="btn btn-light">Apply</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}
