{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <div class="row">
        {% for item in shopItems %}
            <div class="col-sm-4">
                <div class="card mb-4 {{ item.status == 0 ? 'text-bg-warning' : 'text-bg-success' }}" data-id="{{ item.id }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">{{ item.type }}</p>
                        {% if item.status == 0 %}
                            <form action="{{ path('app_inventory_apply', {shopItem: item.id}) }}" method="POST">
                                <button class="btn btn-light">Apply</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
