{% extends 'base.html.twig' %}

{% block title %}Vote list{% endblock %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div {{ vue_component('CreateVote', { 'name': app.user.username }) }}></div>
{% endif %}
<div class="row">
    {% for vote in votes %}
        <div class="col-sm-4">
            <div class="card mb-4" data-id="{{ vote.id }}">
                <img src="{{ vote.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ path('app_vote_view', {vote: vote.id}) }}">{{ vote.title }}</a></h5>
                    <p class="card-text">{{ vote.description }}</p>
                    <p class="card-text">{{ vote.user.username }}</p>
                    <a href="{{ path('app_vote_view', {vote: vote.id}) }}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
