<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_vote_list') }}">Vote list</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_bet_list') }}">Bet list</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_mine') }}">Mine</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_shop_list') }}">Shop</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_inventory_list') }}">Inventory</a></li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}" aria-current="page">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}" aria-current="page">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li class="me-3">
                                    <div {{ vue_component('Cash', {'cash': app.user.cash, 'token': push_token.create(app.user.id)}) }}></div>
                                </li>
                                <li><div {{ vue_component('HP', {'currentHp': app.user.currentHp, 'maxHp': app.user.maxHp, 'token': push_token.create(app.user.id)}) }}></div></li>
                                {% if is_granted('ROLE_GAME_OVER') %}
                                    <li class="ms-3"><span class="badge rounded-pill bg-danger">GAME OVER</span></li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
