<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}" aria-current="page">Logout</a></li>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}" aria-current="page">Login</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_vote_list') }}">Vote list</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_bet_list') }}">Bet list</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_mine') }}">Mine</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_shop_list') }}">Shop</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ path('app_inventory_list') }}">Inventory</a></li>
                        </ul>

                    </div>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="d-flex">
                            <ul class="navbar-nav">
                                <li class="me-3"><span>{{ app.user.cash }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                                        <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                                    </svg>
                                </li>
                                <li><div {{ vue_component('HP', {'currentHp': app.user.currentHp, 'maxHp': app.user.maxHp}) }}></div></li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </nav>

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </body>
</html>
